/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('./src/css/utilities/fonts.css');
@import url('./src/css/utilities/variables.css');

@import url('./reset.css');
@import url('./src/css/sections/header.css');
@import url('./src/css/sections/hero.css');
@import url('./src/css/sections/about.css');
@import url('./src/css/sections/benefits.css');
@import url('./src/css/sections/projects.css');
@import url('./src/css/sections/faq.css');
@import url('./src/css/sections/covers.css');
@import url('./src/css/sections/reviews.css');
@import url('./src/css/sections/work-together.css');
@import url('./src/css/sections/change-theme.css');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'InterTight', sans-serif;
  color: var(--text);
  background: var(--bg-main);
}
body.is-open {
  overflow: hidden;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.section {
  margin-bottom: 164px;
}

.section:last-of-type {
  margin-bottom: 0;
}

.section-title {
  font-family: 'InterTight';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.container {
  width: 1440px;
  padding: 0 32px;
  margin: 0 auto;
}

@media screen and (max-width: 1439px) {
  .container {
    width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
    width: 100%;
    padding: 0 16px;
  }
}
