.h-circle {
  transition: background-color 0.3s;
}

.cool-color-lime:hover,
.cool-color-lime:active {
  background-color: #c6e327;
}

.cool-color-blue:hover,
.cool-color-blue:active {
  background-color: #0041e8;
}

.cool-color-red:hover,
.cool-color-red:active {
  background-color: #ed3b44;
}

.cool-color-purple:hover,
.cool-color-purple:active {
  background-color: #b662dd;
}

.cool-color-teal:hover,
.cool-color-teal:active {
  background-color: #237f76;
}

.cool-color-orange:hover,
.cool-color-orange:active {
  background-color: #ff7f08;
}

.s-color {
  transition: box-shadow 0.3s ease;
}

.s-color:hover {
  box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

.btn-container {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  bottom: 102px;
  margin-left: 32px;
}

.main-button {
  width: 130px;
  height: 45px;
  border-radius: 60px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  color: white;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  position: relative;
  z-index: 2;
}

.main-button:hover,
.main-button:focus {
  background-color: rgba(0, 0, 0, 0.25);
}

.color-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 5px;
  top: 50%;
  transform: translateY(-50%) translateX(0);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .btn-container {
    right: 20px;
    left: auto;
  }

  .color-buttons {
    right: 100%;
    left: auto;
    transform: translateY(-50%) translateX(0);
  }

  .color-buttons.show {
    opacity: 1;
    pointer-events: all;
    transform: translateY(-50%) translateX(-10px);
  }
}

@media screen and (min-width: 768px) {
  .btn-container {
    left: 20px;
    right: auto;
  }

  .color-buttons {
    left: 100%;
    right: auto;
    transform: translateY(-50%) translateX(0);
  }

  .color-buttons.show {
    opacity: 1;
    pointer-events: all;
    transform: translateY(-50%) translateX(20px);
  }
}

.color-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.color-button:active,
.color-button:focus,
.color-button:hover {
  border-color: #fff;
}

.g-color {
}

.s-color {
}

.color-text {
  transition: color 0.3s;
}

.hidden {
  opacity: 0;
}

.red-clr /*#ed3b44*/ {
  background: repeating-linear-gradient(
      90deg,
      rgba(127, 127, 127, 0.2) 0px,
      /* 0% */ rgba(255, 255, 255, 0.07) 1.75%,
      /* 43% */ rgba(0, 0, 0, 0.15) 2.33%,
      /* 57% */ rgba(127, 127, 127, 0.2) 8.33% /* 100% */
    ),
    linear-gradient(90deg, #ed3b44 0%, #69292d 32%, var(--bg-main) 50%);
}

.blue-clr /*#0041e8*/ {
  background: repeating-linear-gradient(
      90deg,
      rgba(127, 127, 127, 0.2) 0px,
      /* 0% */ rgba(255, 255, 255, 0.07) 1.75%,
      /* 43% */ rgba(0, 0, 0, 0.15) 2.33%,
      /* 57% */ rgba(127, 127, 127, 0.2) 8.33% /* 100% */
    ),
    linear-gradient(90deg, #0041e8 0%, #001958 32%, var(--bg-main) 50%);
}

.yellow-clr /*#c6e327*/ {
  background: repeating-linear-gradient(
      90deg,
      rgba(127, 127, 127, 0.2) 0px,
      /* 0% */ rgba(255, 255, 255, 0.07) 1.75%,
      /* 43% */ rgba(0, 0, 0, 0.15) 2.33%,
      /* 57% */ rgba(127, 127, 127, 0.2) 8.33% /* 100% */
    ),
    linear-gradient(
      90deg,
      var(--lime-hover) 0%,
      #596808 32%,
      var(--bg-main) 50%
    );
}

.purple-clr /*#b662dd*/ {
  background: repeating-linear-gradient(
      90deg,
      rgba(127, 127, 127, 0.2) 0px,
      /* 0% */ rgba(255, 255, 255, 0.07) 1.75%,
      /* 43% */ rgba(0, 0, 0, 0.15) 2.33%,
      /* 57% */ rgba(127, 127, 127, 0.2) 8.33% /* 100% */
    ),
    linear-gradient(90deg, #b662dd 0%, #693980 32%, var(--bg-main) 50%);
}

.green-clr /*#237f76*/ {
  background: repeating-linear-gradient(
      90deg,
      rgba(127, 127, 127, 0.2) 0px,
      /* 0% */ rgba(255, 255, 255, 0.07) 1.75%,
      /* 43% */ rgba(0, 0, 0, 0.15) 2.33%,
      /* 57% */ rgba(127, 127, 127, 0.2) 8.33% /* 100% */
    ),
    linear-gradient(90deg, #237f76 0%, #144d47 32%, var(--bg-main) 50%);
}

.orange-clr /*#ff7f08*/ {
  background: repeating-linear-gradient(
      90deg,
      rgba(127, 127, 127, 0.2) 0px,
      /* 0% */ rgba(255, 255, 255, 0.07) 1.75%,
      /* 43% */ rgba(0, 0, 0, 0.15) 2.33%,
      /* 57% */ rgba(127, 127, 127, 0.2) 8.33% /* 100% */
    ),
    linear-gradient(90deg, #ff7f08 0%, #ac5300 32%, var(--bg-main) 50%);
}
