.covers-section {
  position: relative;
  min-height: 508px;
  overflow: hidden;
  padding: 0;
}
.title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.circle {
  z-index: -1;
  width: 100px;
  height: 100px;
  background-color: var(--lime);
  opacity: 0.45;
  border-radius: 50%;
  position: absolute;
  filter: blur(40px);
}

.circle-1 {
  top: 200px;
  left: 100px;
}

.circle-2 {
  top: 600px;
  left: 500px;
}

.circle-3 {
  top: -10px;
  left: 650px;
}
.circle-4 {
  bottom: 100px;
  right: 200px;
}
.covers-container {
  min-width: 320px;
  max-width: 375px;
  width: 100%;
}

.section {
  padding: 0;
}
.column-zero {
  position: absolute;
  top: -30vh;
}
.column-first {
  position: absolute;
  top: 1vh;
}
.column-second {
  position: absolute;
  top: 33vh;
}
.column-third {
  position: absolute;
  bottom: -9vh;
  margin-bottom: 0;
}

.marquee__inner {
  display: flex;
  position: absolute;
  transform: rotate(16deg);
  width: 282px;
  height: 162px;
  margin-bottom: 50px;
  animation: none;
}

.marquee__line {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: inline-block;
  flex-shrink: 0;
  margin-right: 30px;
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
}
.marquee__line:last-child {
  margin-right: 0;
}
.marquee__inner:last-child {
  margin-bottom: 0;
}

.default-img {
  width: 282px;
  height: 162px;
}
.marquee__inner.animate {
  animation: marqueeMovement 15s linear infinite alternate;
}
@keyframes marqueeMovement {
  from {
    transform: translateX(0) rotate(16deg);
  }
  to {
    transform: translateX(-100%) rotate(16deg);
  }
}
.marquee__inner.reverse {
  animation: marqueeMovementReverse 15s linear infinite;
}

@keyframes marqueeMovementReverse {
  0% {
    transform: translateX(-160%) rotate(16deg);
  }
  100% {
    transform: translateX(0) rotate(16deg);
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .marquee__inner {
    position: absolute;
    left: -1vh;
  }
}

@media screen and (min-width: 768px) {
  .covers-section {
    min-height: 960px;
  }
  .covers-container {
    max-width: 768px;
  }
  .circle {
    width: 200px;
    height: 200px;
  }
  .marquee__inner {
    width: 544px;
    height: 314px;
    left: -6vh;
  }
  .marquee__line:not(:last-child) {
    margin-right: 50px;
  }
  .column-zero {
    top: -42vh;
  }
  .column-first {
    top: 20vh;
  }
  .column-second {
    top: 82vh;
  }
  .column-third {
    bottom: -39vh;
  }
  .default-img {
    width: 544px;
    height: 314px;
  }
}
@media screen and (min-width: 1140px) {
  .circle {
    width: 300px;
    height: 300px;
  }
  /* .marquee__inner {
  } */
  .column-zero {
    top: -30vh;
    left: 90vh;
  }
  .column-first {
    top: -2vh;
    left: 0vh;
  }
  .column-second {
    top: 50vh;
  }
  .column-third {
    bottom: -13vh;
  }
  .covers-container {
    width: 1440px;
    max-width: 1440px;
  }
}
