.covers-section {
  position: relative;
  overflow: hidden;
  /* background-color: var(--bg-main);
  background-image: url(../../img/background/background-1x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .effect {
    background-image: url(../../img/background/background-2x.png);
  } */
}
.circle {
  width: 300px;
  height: 300px;
  background-color: rgba(198, 277, 39, 0.45);
  border-radius: 50%;
  position: absolute;
  filter: blur(30px);
}

.circle-1 {
  top: 200px;
  left: 100px;
}

.circle-2 {
  top: 600px;
  left: 500px;
}

.circle-3 {
  top: -80px;
  left: 650px;
}
.circle-4 {
  bottom: 100px;
  right: 200px;
}
.covers-container {
  min-width: 320px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
}
.title-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.section {
  padding-top: 32px;
  padding-bottom: 32px;
}
.content {
  position: relative;
  /* overflow: hidden; */
}
/* .marquee {

} */

.marquee__inner {
  height: 100vh;
  display: flex;
  column-gap: 30px;
  transform: rotate(16deg);
  width: 282px;
  height: 162px;
  margin-bottom: 50px;
}

.marquee__line {
  background-color: transparent;
  flex-shrink: 0;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.marquee__line:last-child {
  margin-right: 0;
}

/* @keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
} */
picture,
img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .covers-container {
    max-width: 768px;
  }
  .marquee__inner {
    width: 544px;
    height: 314px;
  }
}
@media screen and (min-width: 1140px) {
  .section {
    padding-top: 82px;
    padding-bottom: 82px;
  }
  .covers-container {
    width: 1440px;
    max-width: 1440px;
  }
}
