/* #region COMMON */

.faq-title {
  margin-bottom: 32px;
}

.faq-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.ac.faq-list-item {
  width: calc(100% / 2);
  padding: 32px 32px 26px 0;
  margin-top: 0;
  position: relative;
  background-color: #1c1d20;
  border: none;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.ac .ac-trigger.faq-btn {
  color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.ac .ac-trigger.faq-btn:hover .arrow-container {
  border-color: rgba(250, 250, 250, 0.9);
}

.ac .ac-trigger.faq-btn:focus {
  color: #fafafa;
}

.ac .ac-panel .ac-text.faq-text {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(250, 250, 250, 0.6);
  font-weight: 500;
  letter-spacing: -0.02em;
  margin-top: 26px;
  padding: 0;
  line-height: 1.5;
}

.ac .ac-trigger.faq-btn::after {
  display: none;
}

.ac.faq-list-item.is-active .ac-header.faq-list-title .arrow-icon {
  transform: rotate(180deg);
}

.button-text {
  max-width: 574px;
  font-size: 20px;
  line-height: 1.5;
  color: var(--text);
  font-weight: 600;
  letter-spacing: -0.02em;
  font-family: 'InterTight';
  margin-bottom: 8px;
}

.arrow-icon {
  transition: all 0.5s ease-in-out;
  stroke: #fafafa;
}

.arrow-container {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

/* #endregion */

/* #region DESKTOP */

@media screen and (min-width: 1440px) {
  .ac.faq-list-item:nth-child(n + 1):nth-child(-n + 3) {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
  }

  .ac.faq-list-item:nth-child(3) {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }

  .ac.faq-list-item:last-child {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }

  .ac.faq-list-item:nth-child(n + 4):nth-child(-n + 6) {
    padding-left: 32px;
  }

  .item-1 {
    order: 1;
  }

  .item-2 {
    order: 3;
  }

  .item-3 {
    order: 5;
  }

  .item-4 {
    order: 2;
  }

  .item-5 {
    order: 4;
  }

  .item-6 {
    order: 6;
  }
}

/* #endregion */

/* #region TAB */

@media screen and (max-width: 1439px) {
  .ac.faq-list-item {
    width: 100%;
    padding: 32px 0 24px;
  }

  .arrow-container {
    width: 40px;
    height: 40px;
  }

  .ac .ac-panel .ac-text.faq-text {
    margin-top: 26px;
  }

  .button-text {
    max-width: 574px;
  }

  .ac.faq-list-item:last-child {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
}

/* #endregion */

/* #region MOB */

@media screen and (max-width: 767px) {
  .faq-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .ac.faq-list-item {
    width: 100%;
    padding: 20px 0;
  }

  .ac.faq-list-item:nth-child(n + 4):nth-child(-n + 6) {
    padding: 20px 0;
  }

  .arrow-icon-container {
    width: 34px;
    height: 34px;
  }

  .ac .ac-panel .ac-text.faq-text {
    margin-top: 16px;
  }

  .button-text {
    max-width: 289px;
  }
}
/* #endregion */
