/*Part container*/

.work-together {
  background-color: var(--bg-main);
  background-image: url(./img/img-work-together/footer.jpg);
  background-position: right;
  background-repeat: no-repeat;
  padding-bottom: 32px;
}
.wt-title-container {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 4px;
  flex-wrap: wrap;
}
.work-img {
  border-radius: 14px;
  width: 44px;
  height: 44px;
}
.wt-title {
  color: var(--text);
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.title-highlight {
  color: var(--lime);
}
.wt-text {
  margin-bottom: 64px;
}

/*Part form*/

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 64px;
}
.wt-form-input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #fafafa33;
  width: 100%;
  padding: 0 0 20px 0;
  margin-bottom: 16px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wt-form-input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.wt-form-input:hover,
.wt-form-input:focus,
.wt-form-input:active {
  border-bottom: 1px solid #fafafa80;
}
.wt-form-input.success {
  border-bottom: 1px solid var(--malachite);
}

.wt-form-input:not(:placeholder-shown).error {
  border-bottom: 1px solid var(--red);
}
.wt-message {
  display: none;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;

  margin-top: -12px;
  margin-bottom: 16px;
  width: 100%;
}
.wt-form-input.success + .wt-message {
  display: block;
}

.wt-form-input:not(:placeholder-shown).error + .wt-message {
  display: block;
}

.wt-btn {
  margin-top: 32px;
  width: 100px;
  padding: 40px 32px 41px;
  border: none;
  border-radius: 50%;
  background-color: var(--lime);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--text);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wt-btn:hover {
  background-color: var(--lime-hover);
}
.wt-btn:disabled {
  cursor: no-drop;
}
.wt-btn:not(:disabled) {
  cursor: pointer;
}
.wt-btn:not(:disabled):active {
  transform: scale(0.95);
}

/*Part contact info*/

.wt-contact {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text);
  display: block;
  padding: 10px 12px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wt-contact:not(:last-child) {
  margin-bottom: 16px;
}
.wt-contact:hover {
  border: 1px solid var(--text);
}

.contact-form div {
  position: relative;
}

.wt-message-text {
  position: absolute;
  width: 100%;
  top: 134%;
}

.wt-message-text {
  display: none;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-top: -12px;
  margin-bottom: 16px;
  width: 100%;
}

.comments.success + .wt-message-text,
.comments.error + .wt-message-text {
  display: block;
}

.contact-form-text {
  position: relative;
}

/*Modal Window*/

.wt-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 16, 0.6);
  z-index: 999;
  padding: 0 16px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.wt-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 343px;
  box-sizing: border-box;
  background-color: var(--bg-main);
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  z-index: 1000;
  letter-spacing: -0.02em;
  text-align: center;
  line-height: 1.5;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wt-modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  color: var(--text);
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 5px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wt-modal-close-svg {
  width: 100%;
  height: 100%;
  display: block;
  stroke: var(--text);
}

.wt-modal-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 16px;
}

.wt-modal-info {
  line-height: 1.5;
  letter-spacing: -0.02em;

  text-align: center;

  font-weight: 500;
  font-size: 16px;
  color: rgba(250, 250, 250, 0.6);
}

.highlighted-wt {
  border-bottom: 1px solid var(--red);
}

@media screen and (min-width: 768px) {
  .wt-modal-container {
    padding: 64px;
    max-width: 492px;
  }
  .wt-modal-close-btn {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .wt-title-container {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 356px) {
  .contact-info {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .wt-contact:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .work-together {
    background-image: url(./img/img-work-together/footer-tablet.jpg);
    padding-top: 88px;
    padding-bottom: 169px;
  }
  .wt-title {
    font-size: 64px;
  }
  .wt-title.together {
    margin-bottom: 18px;
  }
  .work-img {
    border-radius: 24px;
    width: 70px;
    height: 70px;
  }
  .contact-form {
    margin-bottom: 18px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
  }
  .wt-form-input {
    margin: 0;
    width: 245px;
  }
  .wt-message {
    position: absolute;
    width: 100%;
    top: 134%;
  }
  .wt-btn {
    width: 150px;
    margin: 0;
    padding: 65px 57px 66px;
  }
  .contact-info {
    gap: 8px;
  }
  .wt-contact {
    font-size: 16px;
    padding: 18px 32px;
  }

  .wt-modal-title {
    width: 364px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }

  .wt-modal-info {
    line-height: 1.5;
    letter-spacing: -0.02em;
    width: 364px;
  }
}

@media screen and (min-width: 1440px) {
  .wt-modal-container {
    padding: 64px;
    width: 492px;
    height: 246px;
  }

  .work-together {
    padding: 88px 201px 169px 196px;
    background-image: url(./img/img-work-together/footer-desktop.jpg);
  }

  .contact-form {
    width: 100%;
    align-items: center;
    gap: 32px;
  }

  .wt-form-input {
    margin: 0;
    width: 390px;
    flex-shrink: 0;
  }

  .wt-btn {
    padding: 65px 57px 66px;
    margin-left: 54px;
    flex-shrink: 0;
  }
}
