.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Фиксированное позиционирование */
  z-index: 1; /* Над другими элементами */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Если контент будет больше окна */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Центрирование */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ширина модального окна */
  max-width: 600px;
  border-radius: 10px;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
