/*Part title*/

.part-title {
  margin-top: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 63px;
}

.work-together-img {
  margin-right: 8px;
}

.wt-section-title {
}

footer .section-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text);
  margin: 0;
}

.title-highlight {
  color: var(--lime);
}

/*Part form*/

.part-form {
  margin-bottom: 64px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.email-input {
  padding-top: 0;
  padding-bottom: 20px;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  background-color: var(--bg-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  width: 343px;
  height: 44px;
}
textarea {
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  background-color: var(--bg-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  width: 343px;
  height: 44px;
  resize: none;
}

.wg-button {
  border: none;
  border-radius: 50px;
  background-color: var(--lime);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--text);
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin-top: 16px;
}

/*Part contact info*/

.part-contact-info {
  gap: 4px;
  margin-bottom: 32px;
}

.info-email {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text);
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 178px;
  height: 37px;
}

.info-tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text);
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 118px;
  height: 37px;
}
footer .part-contact-info a:hover {
  text-decoration: underline;
}

/*Modal Window*/

.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Фиксированное позиционирование */
  z-index: 1; /* Над другими элементами */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Если контент будет больше окна */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Центрирование */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ширина модального окна */
  max-width: 600px;
  border-radius: 10px;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* @media screen and (max-width: 767px) {
  .part-title {
    margin-top: 88px;
    display: flex;
    align-items: center;
    margin-bottom: 64px;
  }
  .work-together-img {
    margin-right: 20px;
  }
  .part-form {
    margin-bottom: 64px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .email-input {
    padding-top: 0;
    padding-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    background-color: var(--bg-main);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    width: 343px;
    height: 44px;
  }
  textarea {
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    background-color: var(--bg-main);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    width: 343px;
    height: 44px;
    resize: none;
  }

  .wg-button {
    border: none;
    border-radius: 50px;
    background-color: var(--lime);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--text);
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin-top: 16px;
  }
} */
