@font-face {
  font-family: 'InterTight';
  src: url('../../fonts/InterTight-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'InterTight';
  src: url('../../fonts/InterTight-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'InterTight';
  src: url('../../fonts/InterTight-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'InterTight';
  src: url('../../fonts/InterTight-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'InterTight';
  src: url('../../fonts/InterTight-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'InterTight';
  src: url('../../fonts/InterTight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'InterTight';
  src: url('../../fonts/InterTight-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
