:root {
  --lime: #b2cc28;
  --lime-hover: #c6e327;
  --orange: #ff7f08;
  --red: #ed3b44;
  --blue: #0041e8;
  --green: #237f76;
  --violet: #b662dd;
  --malachite: #3cbc81;

  --bg-main: #1c1d20;
  --bg-cards: #242527;
  --bg-arrows: #3b3b3b;
  --text: #fafafa;
  --text-title: rgba(250, 250, 250, 0.4);
}
