<section class="section" id="about-me">
  <div class="container">
    <div class="container-about">
      <h2 class="visually-hidden">ABOUT</h2>
      <ul class="about-list">
        <li class="about-list-text">
          <p class="about-text">
            I work with people all over the world to create impressive and
            <span class="colortext">functional</span>
            <span class="colortext-two">websites</span> that reflect each
            client's unique personality.
          </p>
        </li>
        <li class="ideas-item">
          <picture
            ><source
              srcset="../img/aboute/jef@1x.jpg 1x, ../img/aboute/jef@2x.jpg 2x"
              media="(min-width: 1440px)"
            />
            <source
              srcset="../img/aboute/jef@1x.jpg 1x, ../img/aboute/jef@2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/aboute/jefmob@1x.jpg 1x,
                ../img/aboute/jefmob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="about-img"
              src="../img/aboute/jef@1x.jpg"
              srcset="../img/aboute/jef@2x.jpg"
              alt="main"
              width="680"
              height="700"
            />
          </picture>
        </li>
      </ul>
    </div>

    <div class="about">
      <div class="about-me">
        <h2 class="about-class">ABOUTE ME</h2>
        <svg class="about-icon" width="20" height="20">
          <use href="../img/icons.svg#icon-Vector-9"></use>
        </svg>
      </div>
      <div class="about-content">
        <p class="about-class-text">
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way. <br /><br />
          Able to work both independently and in a team. I can effectively
          cooperate with colleagues, exchanging ideas and finding optimal
          solutions. Professional maturity allows you to calmly cope with
          challenges and stressful situations, while maintaining a high quality
          of work. I am always looking for opportunities for self-improvement. I
          actively study new technologies and practices to stay abreast of the
          latest innovations. I have a strong understanding of various
          programming languages, frameworks and architectural concepts that
          allow me to create efficient and scalable software.
        </p>
      </div>
    </div>
    <div class="about">
      <div class="about-me">
        <h2 class="about-class">Role</h2>
        <svg class="about-icon" width="20" height="20">
          <use href="../img/icons.svg#icon-Vector-9"></use>
        </svg>
      </div>
      <div class="about-content">
        <ul class="role-list">
          <li class="role-skills">Frontend development</li>
          <li class="role-skills">HeadlessCMS,Wordpress</li>
          <li class="role-skills">Blender(enjoy)</li>
        </ul>
      </div>
    </div>
    <div class="about">
      <div class="about-me">
        <h2 class="about-class">education</h2>
        <svg class="about-icon" width="20" height="20">
          <use href="../img/icons.svg#icon-Vector-9"></use>
        </svg>
      </div>
      <div class="about-content">
        <ul class="education-list">
          <li class="education-study">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="education-study">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="education-study">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </div>
    </div>

    <div class="swiper">
      <div class="swiper-wrapper">
        <ul class="swiper-list">
          <li class="swiper-skills">HTML/CSS</li>
          <li class="swiper-skills">JavaScript</li>
          <li class="swiper-skills">React</li>
          <li class="swiper-skills">Node. js</li>
          <li class="swiper-skills">React Native</li>
          <li class="swiper-skills">Soft skills</li>
        </ul>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <!-- <script type="module" src="./js/about.js"></script> -->
  </div>
</section>
