<section class="section" id="about-me">
  <div class="container about-container-section">
    <div class="container-about">
      <h2 class="visually-hidden-about">ABOUT</h2>
      <div class="about-list">
        <div class="about-list-text">
          <p class="about-text">
            I work with people all over the world to create impressive and
            <span class="colortext color-text">functional</span>
            <span class="colortext-two">websites</span> that reflect each
            client's unique personality.
          </p>
        </div>
        <div class="ideas-item">
          <picture
            ><source
              srcset="./img/aboute/jef@1x.jpg 1x, ./img/aboute/jef@2x.jpg 2x"
              media="(max-width: 1440px)"
            />
            <source
              srcset="./img/aboute/jef@1x.jpg 1x, ./img/aboute/jef@2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/aboute/jefmob@1x.jpg 1x,
                ./img/aboute/jefmob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="about-img"
              src="./img/aboute/jef@1x.jpg"
              srcset="./img/aboute/jef@2x.jpg"
              alt="main"
              width="680"
              height="700"
            />
          </picture>
        </div>
      </div>
    </div>

    <div class="about-accordion-container about">
      <div class="ac about-me">
        <h3 class="ac-header about-class">
          <button
            type="button"
            class="ac-trigger about-btn"
            aria-label="open button"
          >
            <span class="about-btn-text">About me</span>
            <span class="about-container-btn">
              <svg
                class="about-icon"
                width="20"
                height="20"
                aria-label="open icon"
              >
                <use href="./img/icons.svg#arrow-down-accordion"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel about-content">
          <p class="ac-text about-class-text about-p">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way. <br /><br />
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </div>
      <div class="ac about-me">
        <h3 class="ac-header about-class">
          <button
            type="button"
            class="ac-trigger about-btn"
            aria-label="open button"
          >
            <span class="about-btn-text">Role</span>
            <span class="about-container-btn">
              <svg
                class="about-icon"
                width="20"
                height="20"
                aria-label="open icon"
              >
                <use href="./img/icons.svg#arrow-down-accordion"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel about-content">
          <ul class="role-list">
            <li class="ac-text about-class-text">Frontend development</li>
            <li class="ac-text about-class-text">HeadlessCMS,Wordpress</li>
            <li class="ac-text about-class-text">Blender(enjoy)</li>
          </ul>
        </div>
      </div>
      <div class="ac about-me">
        <h3 class="ac-header about-class">
          <button
            type="button"
            class="ac-trigger about-btn"
            aria-label="open button"
          >
            <span class="about-btn-text">Education</span>
            <span class="about-container-btn">
              <svg
                class="about-icon"
                width="20"
                height="20"
                aria-label="open icon"
              >
                <use href="./img/icons.svg#arrow-down-accordion"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel about-content">
          <ul class="education-list">
            <li class="ac-text about-class-text education-list-t">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li class="ac-text about-class-text education-list-t">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li class="ac-text about-class-text education-list-t">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="swiper swiper-container">
      <ul class="swiper-wrapper swiper-list">
            <li class="swiper-slide swiper-skills">HTML/CSS</li>
            <li class="swiper-slide swiper-skills">JavaScript</li>
            <li class="swiper-slide swiper-skills">React</li>
            <li class="swiper-slide swiper-skills">Node.js</li>
            <li class="swiper-slide swiper-skills">React Native</li>
            <li class="swiper-slide swiper-skills">Soft skills</li>
          </ul>
        </div>
  
      <div class="swiper-pagination about-pagination">
       <button class="swiper-button-next about-button-swip">
          <svg class="swiper-button-svg about-svg-swip" width="24" height="24">
            <use href="./img/icons.svg#icon-arrow-narrow-right-new"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
