<!-- <div class="color-display">
      <div class="g-color"></div>
      <div class="g-color"></div>
      <div class="s-color"></div>
      <div class="s-color"></div>
      <span class="color-text">Color Text</span>
      <span class="color-text">Color Text</span>
    </div> -->

<div class="btn-container">
  <button class="main-button">Switch theme</button>
  <div class="color-buttons">
    <button
      class="color-button"
      data-color="#ed3b44"
      style="background-color: #ed3b44"
    ></button>
    <button
      class="color-button"
      data-color="#C6E327"
      style="background-color: #c6e327"
    ></button>
    <button
      class="color-button"
      data-color="#0041E8"
      style="background-color: #0041e8"
    ></button>
    <button
      class="color-button"
      data-color="#e6533c"
      style="background-color: #e6533c"
    ></button>
    <button
      class="color-button"
      data-color="#2b4441"
      style="background-color: #2b4441"
    ></button>
    <button
      class="color-button"
      data-color="#ff7f08"
      style="background-color: #ff7f08"
    ></button>
  </div>
</div>
<script src="/src/js/change-theme.js"></script>
