<div class="btn-container">
  <button class="main-button">Switch theme</button>
  <div class="color-buttons">
    <button
      class="color-button"
      data-color="#ed3b44"
      style="background-color: #ed3b44"
    ></button>
    <button
      class="color-button"
      data-color="#c6e327"
      style="background-color: #c6e327"
    ></button>
    <button
      class="color-button"
      data-color="#0041e8"
      style="background-color: #0041e8"
    ></button>
    <button
      class="color-button"
      data-color="#b662dd"
      style="background-color: #b662dd"
    ></button>
    <button
      class="color-button"
      data-color="#237f76"
      style="background-color: #237f76"
    ></button>
    <button
      class="color-button"
      data-color="#ff7f08"
      style="background-color: #ff7f08"
    ></button>
  </div>
</div>
