<section class="section covers-section" id="covers">
    <div class=" covers-container">
        <div class="circle s-color circle-1"></div>
        <div class="circle s-color circle-2"></div>
        <div class="circle s-color circle-3"></div>
        <div class="circle s-color circle-4"></div>

        <h2 class="title-hidden">Covers</h2>

        <div class="picture-block">
            <ul class="marquee__inner   column-zero">

                <li class="marquee__line">
                    <a href="/img/covers/fruit-market-2x.jpg" class="galery-item">
                        <picture class="picture">
                            <source class="pic-desktop"
                                srcset="/img/covers/fruit-market-1x.jpg 1x, /img/covers/fruit-market-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="/img/covers/fruit-market-1x.jpg 1x, /img/covers/fruit-market-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="/img/covers/fruit-market-1x.jpg 1x, /img/covers/fruit-market-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img class="default-img" src="/img/covers/fruit-market-1x.jpg" alt="Green harvest website"
                                width="282" height="162">
                        </picture>
                    </a>
                </li>
                <li class="marquee__line">
                    <a href="/img/covers/power-pulse-2x.jpg" class="galery-item">
                        <picture class="picture">
                            <source class="pic-desktop"
                                srcset="/img/covers/power-pulse-1x.jpg 1x, /img/covers/power-pulse-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="/img/covers/power-pulse-1x.jpg 1x, /img/covers/power-pulse-2x.jpg 2x" media="
                                                    (min-width:768px)">
                            <source class="pic-mobile"
                                srcset="/img/covers/power-pulse-1x.jpg 1x, /img/covers/power-pulse-2x.jpg 2x" media="
                                                    (max-width:767px)">
                            <img class="default-img" src="/img/covers/power-pulse-1x.jpg" alt=" Power pulse gym website"
                                width="282" height="162">
                        </picture>
                    </a>
                </li>

                <li class="marquee__line">
                    <a href="/img/covers/mimino-2x.jpg" class="galery-item">
                        <picture class="picture">
                            <source class="pic-desktop"
                                srcset="/img/covers/mimino-1x-min.jpg 1x, /img/covers/mimino-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="/img/covers/mimino-1x-min.jpg 1x, /img/covers/mimino-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="/img/covers/mimino-1x-min.jpg 1x, /img/covers/mimino-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img class="default-img" src="/img/covers/mimino-1x-min.jpg" alt="Mimino restaurant website"
                                width="282" height="162">
                        </picture>
                    </a>
                </li>

                <li class="marquee__line">
                    <a href="/img/covers/starlight-business-2x.jpg" class="galery-item">
                        <picture class="picture">
                            <source class="pic-desktop"
                                srcset="/img/covers/starlight-business-1x.jpg 1x, /img/covers/starlight-business-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="/img/covers/starlight-business-1x.jpg 1x, /img/covers/starlight-business-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="/img/covers/starlight-business-1x.jpg 1x, /img/covers/starlight-business-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img class="default-img" src="/img/covers/starlight-business-1x.jpg"
                                alt="Starlight studio website" width="282" height="162">
                        </picture>
                    </a>
                </li>
            </ul>

            <ul class="marquee__inner   column-first">

                <li class="marquee__line ">
                    <a href="/img/covers/cheg0-2x.jpg" class="galery-item">
                        <picture class="picture">
                            <source class="pic-desktop"
                                srcset="/img/covers/chego-1x.jpg 1x, /img/covers/cheg0-2x.jpg 2x "
                                media="(min-width:1440px)">
                            <source class="pic-laptop" srcset="/img/covers/chego-1x.jpg 1x, /img/covers/cheg0-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile" srcset="/img/covers/chego-1x.jpg 1x, /img/covers/cheg0-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img class="default-img" src="/img/covers/chego-1x.jpg" alt="Online jewerly store">
                        </picture>
                    </a>
                </li>

                <li class="marquee__line">
                    <a href="/img/covers/english-school-2x.jpg" class="galery-item">
                        <picture class="picture">
                            <source class="pic-desktop"
                                srcset="/img/covers/english-school-1x.jpg 1x, /img/covers/english-school-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="/img/covers/english-school-1x.jpg 1x, /img/covers/english-school-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="/img/covers/english-school-1x.jpg 1x, /img/covers/english-school-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img class="default-img" src="/img/covers/english-school-1x.jpg"
                                alt="Website English School " width="282" height="162">
                        </picture>
                    </a>
                </li>

                <li class="marquee__line">
                    <a href="/img/covers/finance-2x.jpg" class="galery-item">
                        <picture class="picture">
                            <source class="pic-desktop"
                                srcset="/img/covers/finance-1x.jpg 1x, /img/covers/finance-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="/img/covers/finance-1x.jpg 1x, /img/covers/finance-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="/img/covers/finance-1x.jpg 1x, /img/covers/finance-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img class="default-img" src="/img/covers/finance-1x.jpg"
                                alt=" Manage your finances website " width="282" height="162">
                        </picture>
                    </a>
                </li>

                <li class="marquee__line">
                    <a href="/img/covers/fitness-2x.jpg" class="galery-item">
                        <picture class="picture">
                            <source class="pic-desktop"
                                srcset=" /img/covers/fitness-1x.jpg 1x, /img/covers/fitness-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="/img/covers/fitness-1x.jpg 1x, /img/covers/fitness-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="/img/covers/fitness-1x.jpg 1x, /img/covers/fitness-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img class="default-img" src="/img/covers/fitness-1x.jpg" alt="Fitness Club website"
                                width="282" height="162">
                        </picture>
                    </a>
                </li>

            </ul>

            <ul class="marquee__inner   column-second">

                <li class="marquee__line">
                    <a href="/img/covers/vegetables-2x.jpg" class="galery-item">
                        <picture class="picture">
                            <source class="pic-desktop"
                                srcset="/img/covers/vegetables-1x.jpg 1x, /img/covers/vegetables-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="/img/covers/vegetables-1x.jpg 1x, /img/covers/vegetables-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="/img/covers/vegetables-1x.jpg 1x, /img/covers/vegetables-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img class="default-img" src="./img/covers/vegetables-1x.jpg" alt="Fruitbox website"
                                width="282" height="162">
                        </picture>
                    </a>
                </li>

                <li class="marquee__line">
                    <a href="/img/covers/vyshyvanka-2x.jpg" class="galery-item">
                        <picture class="picture">
                            <source class="pic-desktop"
                                srcset="/img/covers/vyshyvanka-1x.jpg 1x, /img/covers/vyshyvanka-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="/img/covers/vyshyvanka-1x.jpg 1x, /img/covers/vyshyvanka-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="/img/covers/vyshyvanka-1x.jpg 1x, /img/covers/vyshyvanka-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img class="default-img" src="./img/covers/vyshyvanka-1x.jpg"
                                alt="Website of traditional clothes" width="282" height="162">
                        </picture>
                    </a>
                </li>

                <li class="marquee__line ">
                    <a href="/img/covers/cheg0-2x.jpg" class="galery-item">

                        <picture class="picture">
                            <source class="pic-desktop"
                                srcset="/img/covers/chego-1x.jpg 1x, /img/covers/cheg0-2x.jpg 2x "
                                media="(min-width:1440px)">
                            <source class="pic-laptop" srcset="/img/covers/chego-1x.jpg 1x, /img/covers/cheg0-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile" srcset="/img/covers/chego-1x.jpg 1x, /img/covers/cheg0-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img class="default-img" src="./img/covers/chego-1x.jpg" alt="Online jewerly store">
                        </picture>
                    </a>
                </li>

                <li class="marquee__line">
                    <a href="/img/covers/fruit-market-2x.jpg" class="galery-item">
                        <picture class="picture">
                            <source class="pic-desktop"
                                srcset="/img/covers/fruit-market-1x.jpg 1x, /img/covers/fruit-market-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="/img/covers/fruit-market-1x.jpg 1x, /img/covers/fruit-market-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="/img/covers/fruit-market-1x.jpg 1x, /img/covers/fruit-market-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img class="default-img" src="/img/covers/fruit-market-1x.jpg" alt="Green harvest website"
                                width="282" height="162">
                        </picture>
                    </a>
                </li>
            </ul>
            <ul class="marquee__inner  column-third">
                <li class="marquee__line">
                    <a href="/img/covers/starlight-business-2x.jpg" class="galery-item">
                        <picture class="picture">
                            <source class="pic-desktop"
                                srcset="/img/covers/starlight-business-1x.jpg 1x, /img/covers/starlight-business-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="/img/covers/starlight-business-1x.jpg 1x, /img/covers/starlight-business-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="/img/covers/starlight-business-1x.jpg 1x, /img/covers/starlight-business-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img class="default-img" src="/img/covers/starlight-business-1x.jpg"
                                alt="Starlight studio website" width="282" height="162">
                        </picture>
                    </a>
                </li>
                <li class="marquee__line">
                    <a href="/img/covers/fitness-2x.jpg" class="galery-item">
                        <picture class="picture">
                            <source class="pic-desktop"
                                srcset="/img/covers/fitness-1x.jpg 1x, /img/covers/fitness-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="/img/covers/fitness-1x.jpg 1x, /img/covers/fitness-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="/img/covers/fitness-1x.jpg 1x, /img/covers/fitness-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img class="default-img" src="/img/covers/fitness-1x.jpg" alt="Fitness Club website"
                                width="282" height="162">
                        </picture>
                    </a>
                </li>
                <li class="marquee__line">
                    <a href="/img/covers/vegetables-2x.jpg" class="galery-item">
                        <picture class="picture">
                            <source class="pic-desktop"
                                srcset="/img/covers/vegetables-1x.jpg 1x, /img/covers/vegetables-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="/img/covers/vegetables-1x.jpg 1x, /img/covers/vegetables-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="/img/covers/vegetables-1x.jpg 1x, /img/covers/vegetables-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img class="default-img" src="/img/covers/vegetables-1x.jpg" alt="Fruitbox website"
                                width="282" height="162">
                        </picture>
                    </a>
                </li>
                <li class="marquee__line">
                    <a href="/img/covers/finance-2x.jpg" class="galery-item">
                        <picture class="picture">
                            <source class="pic-desktop"
                                srcset="/img/covers/finance-1x.jpg 1x, /img/covers/finance-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="/img/covers/finance-1x.jpg 1x, /img/covers/finance-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="/img/covers/finance-1x.jpg 1x, /img/covers/finance-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img class="default-img" src="/img/covers/finance-1x.jpg"
                                alt=" Manage your finances website " width="282" height="162">
                        </picture>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</section>