<section class="section covers-section" id="covers">
    <div class=" covers-container">
        <div class="circle s-color circle-1"></div>
        <div class="circle s-color circle-2"></div>
        <div class="circle s-color circle-3"></div>
        <div class="circle s-color circle-4"></div>

        <h2 class="title-hidden">Covers</h2>

        <div class="picture-block">
            <div class="marquee__inner   column-zero">
                <p class="marquee__line">
                    <picture class="picture">
                        <source class="pic-desktop"
                            srcset="./img/covers/fruit-market-1x.jpg 1x, ./img/covers/covers-2x/fruit-market-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="./img/covers/fruit-market-1x.jpg 1x, ./img/covers/covers-2x/fruit-market-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="./img/covers/fruit-market-1x.jpg 1x, ./img/covers/covers-2x/fruit-market-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="default-img" src="./img/covers/fruit-market-1x.jpg" alt="Green harvest website"
                            width="282" height="162">
                    </picture>
                </p>
                <p class="marquee__line">
                    <picture class="picture">
                        <source class="pic-desktop"
                            srcset="./img/covers/power-pulse-1x.jpg 1x, ./img/covers/covers-2x/power-pulse-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="./img/covers/power-pulse-1x.jpg 1x, ./img/covers/covers-2x/power-pulse-2x.jpg 2x"
                            media="
                                                    (min-width:768px)">
                        <source class="pic-mobile"
                            srcset="./img/covers/power-pulse-1x.jpg 1x, ./img/covers/covers-2x/power-pulse-2x.jpg 2x"
                            media="
                                                    (max-width:767px)">
                        <img class="default-img" src="./img/covers/power-pulse-1x.jpg" alt=" Power pulse gym website"
                            width="282" height="162">
                    </picture>
                </p>
                <!-- 6 -->
                <p class="marquee__line">
                    <picture class="picture">
                        <source class="pic-desktop"
                            srcset="./img/covers/mimino-1x-min.jpg 1x, ./img/covers/covers-2x/mimino-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="./img/covers/mimino-1x-min.jpg 1x, ./img/covers/covers-2x/mimino-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="./img/covers/mimino-1x-min.jpg 1x, ./img/covers/covers-2x/mimino-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="default-img" src="./img/covers/mimino-1x-min.jpg" alt="Mimino restaurant website"
                            width="282" height="162">
                    </picture>
                </p>
                <p class="marquee__line">
                    <picture class="picture">
                        <source class="pic-desktop"
                            srcset="./img/covers/starlight-business-1x.jpg 1x, ./img/covers/covers-2x/starlight-business-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="./img/covers/starlight-business-1x.jpg 1x, ./img/covers/covers-2x/starlight-business-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="./img/covers/starlight-business-1x.jpg 1x, ./img/covers/covers-2x/starlight-business-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="default-img" src="./img/covers/starlight-business-1x.jpg"
                            alt="Starlight studio website" width="282" height="162">
                    </picture>
                </p>
            </div>
            <div class="marquee__inner   column-first">
                <!-- 1 -->
                <p class="marquee__line ">
                    <picture class="picture">
                        <source class="pic-desktop"
                            srcset="./img/covers/chego-1x.jpg 1x, ./img/covers/covers-2x/cheg0-2x.jpg 2x "
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="./img/covers/chego-1x.jpg 1x, ./img/covers/covers-2x/cheg0-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="./img/covers/chego-1x.jpg 1x, ./img/covers/covers-2x/cheg0-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="default-img" src="./img/covers/chego-1x.jpg" alt="Website  ">
                    </picture>
                </p>
                <!-- 2 -->
                <p class="marquee__line">
                    <picture class="picture">
                        <source class="pic-desktop"
                            srcset="./img/covers/english-school-1x.jpg 1x, ./img/covers/covers-2x/english-school-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="./img/covers/english-school-1x.jpg 1x, ./img/covers/covers-2x/english-school-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="./img/covers/english-school-1x.jpg 1x, ./img/covers/covers-2x/english-school-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="default-img" src="./img/covers/english-school-1x.jpg" alt="Website English School "
                            width="282" height="162">
                    </picture>
                </p>
                <!-- 3 -->
                <p class="marquee__line">
                    <picture class="picture">
                        <source class="pic-desktop"
                            srcset="./img/covers/finance-1x.jpg 1x, ./img/covers/covers-2x/finance-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="./img/covers/finance-1x.jpg 1x, ./img/covers/covers-2x/finance-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="./img/covers/finance-1x.jpg 1x, ./img/covers/covers-2x/finance-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="default-img" src="./img/covers/finance-1x.jpg" alt=" Manage your finances website "
                            width="282" height="162">
                    </picture>
                </p>
                <!-- 4 -->
                <p class="marquee__line">
                    <picture class="picture">
                        <source class="pic-desktop"
                            srcset=" ./img/covers/fitness-1x.jpg 1x, ./img/covers/covers-2x/fitness-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="./img/covers/fitness-1x.jpg 1x, ./img/covers/covers-2x/fitness-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="./img/covers/fitness-1x.jpg 1x, ./img/covers/covers-2x/fitness-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="default-img" src="./img/covers/fitness-1x.jpg" alt="Fitness Club website"
                            width="282" height="162">
                    </picture>
                </p>

            </div>
            <!-- вторая колонка  -->
            <div class="marquee__inner   column-second">
                <!-- 1 -->
                <p class="marquee__line">
                    <picture class="picture">
                        <source class="pic-desktop"
                            srcset="./img/covers/vegetables-1x.jpg 1x, ./img/covers/covers-2x/vegetables-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="./img/covers/vegetables-1x.jpg 1x, ./img/covers/covers-2x/vegetables-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="./img/covers/vegetables-1x.jpg 1x, ./img/covers/covers-2x/vegetables-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="default-img" src="./img/covers/vegetables-1x.jpg" alt="Fruitbox website" width="282"
                            height="162">
                    </picture>
                </p>
                <!---- 2 -->
                <p class="marquee__line">
                    <picture class="picture">
                        <source class="pic-desktop"
                            srcset="./img/covers/vyshyvanka-1x.jpg 1x, ./img/covers/covers-2x/vyshyvanka-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="./img/covers/vyshyvanka-1x.jpg 1x, ./img/covers/covers-2x/vyshyvanka-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="./img/covers/vyshyvanka-1x.jpg 1x, ./img/covers/covers-2x/vyshyvanka-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="default-img" src="./img/covers/vyshyvanka-1x.jpg"
                            alt="Website of traditional clothes" width="282" height="162">
                    </picture>
                </p>
                <!-- 3-->
                <p class="marquee__line">
                    <picture class="picture">
                        <source class="pic-desktop"
                            srcset="./img/covers/fitness-1x.jpg 1x, ./img/covers/covers-2x/fitness-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="./img/covers/fitness-1x.jpg 1x, ./img/covers/covers-2x/fitness-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="./img/covers/fitness-1x.jpg 1x, ./img/covers/covers-2x/fitness-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="default-img" src="./img/covers/fitness-1x.jpg" alt="Fitness Club website"
                            width="282" height="162">
                    </picture>
                </p>
                <!-- 4 -->
                <p class="marquee__line">
                    <picture class="picture">
                        <source class="pic-desktop"
                            srcset="./img/covers/fruit-market-1x.jpg 1x, ./img/covers/covers-2x/fruit-market-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="./img/covers/fruit-market-1x.jpg 1x, ./img/covers/covers-2x/fruit-market-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="./img/covers/fruit-market-1x.jpg 1x, ./img/covers/covers-2x/fruit-market-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="default-img" src="./img/covers/fruit-market-1x.jpg" alt="Green harvest website"
                            width="282" height="162">
                    </picture>
                </p>
            </div>
            <div class="marquee__inner  column-third">
                <p class="marquee__line">
                    <picture class="picture">
                        <source class="pic-desktop"
                            srcset="./img/covers/starlight-business-1x.jpg 1x, ./img/covers/covers-2x/starlight-business-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="./img/covers/starlight-business-1x.jpg 1x, ./img/covers/covers-2x/starlight-business-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="./img/covers/starlight-business-1x.jpg 1x, ./img/covers/covers-2x/starlight-business-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="default-img" src="./img/covers/starlight-business-1x.jpg"
                            alt="Starlight studio website" width="282" height="162">
                    </picture>
                </p>
                <p class="marquee__line">
                    <picture class="picture">
                        <source class="pic-desktop"
                            srcset="./img/covers/fitness-1x.jpg 1x, ./img/covers/covers-2x/fitness-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="./img/covers/fitness-1x.jpg 1x, ./img/covers/covers-2x/fitness-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="./img/covers/fitness-1x.jpg 1x, ./img/covers/covers-2x/fitness-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="default-img" src="./img/covers/fitness-1x.jpg" alt="Fitness Club website"
                            width="282" height="162">
                    </picture>
                </p>
                <p class="marquee__line">
                    <picture class="picture">
                        <source class="pic-desktop"
                            srcset="./img/covers/vegetables-1x.jpg 1x, ./img/covers/covers-2x/vegetables-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="./img/covers/vegetables-1x.jpg 1x, ./img/covers/covers-2x/vegetables-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="./img/covers/vegetables-1x.jpg 1x, ./img/covers/covers-2x/vegetables-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="default-img" src="./img/covers/vegetables-1x.jpg" alt="Fruitbox website" width="282"
                            height="162">
                    </picture>
                </p>
                <p class="marquee__line">
                    <picture class="picture">
                        <source class="pic-desktop"
                            srcset="./img/covers/finance-1x.jpg 1x, ./img/covers/covers-2x/finance-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="./img/covers/finance-1x.jpg 1x, ./img/covers/covers-2x/finance-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="./img/covers/finance-1x.jpg 1x, ./img/covers/covers-2x/finance-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img class="default-img" src="./img/covers/finance-1x.jpg" alt=" Manage your finances website "
                            width="282" height="162">
                    </picture>
                </p>
            </div>
        </div>
    </div>

</section>