<section class="section" id="covers">
    <div container covers-container>
        <h2 class="title-hidden">Covers</h2>
        <div class="sircle-1"></div>
        <div class="sircle-2"></div>
        <div class="sircle-3"></div>
        <div class="sircle-4"></div>
        <div class="content">
            <div class="marquee">
                <div class="marquee__inner">
                    <!-- 1 -->
                    <p class="marquee__line">
                        <picture>
                            <source class="pic-desktop"
                                srcset="../img/covers/chego-1x.jpg 1x, ../img/covers/covers-2x/cheg0-2x.jpg 2x "
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="../img/covers/chego-1x.jpg 1x, ../img/covers/covers-2x/cheg0-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="../img/covers/chego-1x.jpg 1x, ../img/covers/covers-2x/cheg0-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img src="../img/covers/chego-1x.jpg" alt="Website  " width="282" height="162"
                                class="pic-mobile">
                        </picture>
                    </p>
                    <!-- 2 -->
                    <p class="marquee__line">
                        <picture>
                            <source class="pic-desktop"
                                srcset="../img/covers/english-school-1x.jpg 1x, ../img/covers/covers-2x/english-school-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="../img/covers/english-school-1x.jpg 1x, ../img/covers/covers-2x/english-school-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="../img/covers/english-school-1x.jpg 1x, ../img/covers/covers-2x/english-school-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img src="../img/covers/english-school-1x.jpg" alt="Website English School " width="282"
                                height="162" class="pic-mobile">
                        </picture>
                    </p>
                    <!-- 3 -->
                    <p class="marquee__line">
                        <picture>
                            <source class="pic-desktop"
                                srcset="../img/covers/finance-1x.jpg 1x, ../img/covers/covers-2x/finance-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="../img/covers/finance-1x.jpg 1x, ../img/covers/covers-2x/finance-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="../img/covers/finance-1x.jpg 1x, ../img/covers/covers-2x/finance-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img src="../img/covers/finance-1x.jpg" alt=" Manage your finances website " width="282"
                                height="162" class="pic-mobile">
                        </picture>
                    </p>
                    <!-- 4 -->
                    <p class="marquee__line">
                        <picture>
                            <source class="pic-desktop"
                                srcset="../img/covers/fitness-1x.jpg 1x, ../img/covers/covers-2x/fitness-2x.jpg 2x"
                                media="(min-width:1440px)">
                            <source class="pic-laptop"
                                srcset="../img/covers/fitness-1x.jpg 1x, ../img/covers/covers-2x/fitness-2x.jpg 2x"
                                media="(min-width:768px)">
                            <source class="pic-mobile"
                                srcset="../img/covers/fitness-1x.jpg 1x, ../img/covers/covers-2x/fitness-2x.jpg 2x"
                                media="(max-width:767px)">
                            <img src="../img/covers/fitness-1x.jpg" alt="Fitness Club website" width="282" height="162"
                                class="pic-mobile">
                        </picture>
                    </p>
                    <!-- 5 -->
                    <p class="marquee__line">
                        <source class="pic-desktop"
                            srcset="../img/covers/fruit-market-1x.jpg 1x, ../img/covers/covers-2x/fruit-market-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="../img/covers/fruit-market-1x.jpg 1x, ../img/covers/covers-2x/fruit-market-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="../img/covers/fruit-market-1x.jpg 1x, ../img/covers/covers-2x/fruit-market-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img src="../img/covers/fruit-market-1x.jpg" alt="Green harvest website" width="282"
                            height="162" class="pic-mobile">
                        </picture>
                    </p>
                    <!-- 6 -->
                    <p class="marquee__line">
                        <source class="pic-desktop"
                            srcset="../img/covers/mimino-1x-min.jpg 1x, ../img/covers/covers-2x/mimino-2x.jpg 2x"
                            media="(min-width:1440px)">
                        <source class="pic-laptop"
                            srcset="../img/covers/mimino-1x-min.jpg 1x, ../img/covers/covers-2x/mimino-2x.jpg 2x"
                            media="(min-width:768px)">
                        <source class="pic-mobile"
                            srcset="../img/covers/mimino-1x-min.jpg 1x, ../img/covers/covers-2x/mimino-2x.jpg 2x"
                            media="(max-width:767px)">
                        <img src="../img/covers/mimino-1x-min.jpg" alt="Green harvest website" width="282" height="162"
                            class="pic-mobile">
                        </picture>
                    </p>
                    <!-- 7 -->
                    <!-- <p class="marquee__line">Project 8</p> -->
                    <!-- <p class="marquee__line">Project 9</p> -->
                    <!-- <p class="marquee__line">Project 10</p> -->
                </div>
                <div class="marquee__inner">
                    <p class="marquee__line">Project 1</p>
                    <p class="marquee__line">Project 2</p>
                    <p class="marquee__line">Project 3</p>
                    <p class="marquee__line">Project 4</p>
                    <p class="marquee__line">Project 5</p>
                    <p class="marquee__line">Project 6</p>
                    <p class="marquee__line">Project 7</p>
                    <p class="marquee__line">Project 8</p>
                    <p class="marquee__line">Project 9</p>
                    <p class="marquee__line">Project 10</p>
                </div>
                <div class="marquee__inner">
                    <p class="marquee__line">Project 1</p>
                    <p class="marquee__line">Project 2</p>
                    <p class="marquee__line">Project 3</p>
                    <p class="marquee__line">Project 4</p>
                    <p class="marquee__line">Project 5</p>
                    <p class="marquee__line">Project 6</p>
                    <p class="marquee__line">Project 7</p>
                    <p class="marquee__line">Project 8</p>
                    <p class="marquee__line">Project 9</p>
                    <p class="marquee__line">Project 10</p>
                </div>
            </div>
        </div>
    </div>
</section>