<section class="section faq" id="faq">
  <div class="container">
    <h2 class="section-title faq-title">faq</h2>
    <div class="faq-accordion-container faq-list">
      <div class="ac faq-list-item">
        <h3 class="ac-header faq-list-title">
          <button
            type="button"
            class="ac-trigger faq-btn"
            aria-label="open button"
          >
            <span class="button-text nwrap"
              >What programming languages are most often used in your project?
            </span>
            <span class="arrow-container">
              <svg
                class="arrow-icon"
                width="20"
                height="20"
                aria-label="open icon"
              >
                <use href="../img/icons-arrow.svg#arrow-down-accordion"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text faq-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
