<header class="header">
  <div class="container header-container">
    <div class="header-logo">
      <a class="jeader-main-link" href="index.html"
        ><img
          src="./img/logo.png"
          alt="Lloyd Jefferson"
          class="header-logo-img"
      /></a>
      <p class="header-logo-text">jefferson*</p>
    </div>
    <nav class="header-nav">
      <a class="header-menu">Menu</a>

      <div class="header-hidden-menu">
        <ul class="header-nav-ul">
          <li class="header-li">
            <a href="#about-me" class="header-anchor">About me</a>
          </li>
          <li class="header-li">
            <a href="#benefits" class="header-anchor">Benefits</a>
          </li>
          <li class="header-li">
            <a href="#projects" class="header-anchor">Projects</a>
          </li>
          <li class="header-li">
            <a href="#faq" class="header-anchor">FAQ</a>
          </li>
        </ul>
      </div>
    </nav>
    <a href="#work" class="header-order-btn s-color">Order the project</a>
    <button
      type="button"
      class="header-modal-btn"
      aria-label="Modal menu open button"
    >
      <svg class="icon header-menu-icon" aria-hidden="true">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <div class="header-modal-window">
    <div class="header-modal-container">
      <button type="button" class="header-modal-close">
        <svg class="header-menu-close-icon" aria-hidden="true">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="header-modal-nav">
        <ul class="header-modal-ul">
          <li class="header-modal-li">
            <a href="#about-me" class="header-modal-anchor">About me</a>
          </li>
          <li class="header-modal-li">
            <a href="#benefits" class="header-modal-anchor">Benefits</a>
          </li>
          <li class="header-modal-li">
            <a href="#projects" class="header-modal-anchor">Projects</a>
          </li>
          <li class="header-modal-li">
            <a href="#faq" class="header-modal-anchor">FAQ</a>
          </li>
        </ul>
      </nav>
      <a href="#work" class="header-modal-order-link s-color">Order the project</a>
    </div>
  </div>
</header>
