<section class="hero section">
  <div class="hero-bg">
    <div class="hero-ridges g-color text-color"></div>
  </div>

  <div class="container container-hero">
    <h1 class="hero-title">
      Hello. <br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <div class="hero-info">
      <ul class="hero-list">
        <li class="hero-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="social-link"
            title="Link to Instagram"
            target="_blank"
            rel="noopener noreferrer"
            >IG</a
          >
        </li>
        <li class="hero-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-link"
            title="Link to Facebook"
            target="_blank"
            rel="noopener noreferrer"
            >FB</a
          >
        </li>
        <li class="hero-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="social-link"
            title="Link to YouTube"
            target="_blank"
            rel="noopener noreferrer"
            >YT</a
          >
        </li>
        <li class="hero-item">
          <a
            href="https://github.com/OlhaZhynkina/speed-js-team-project
          "
            class="social-link"
            title="Link to GitHub"
            target="_blank"
            rel="noopener noreferrer"
            >GH</a
          >
        </li>
      </ul>
      <div class="heder-contact-info">
        <a
          href="mailto:user@example.com?subject=Subject%20of%20email&amp;body=Message%20text&amp;cc=ccuser@example.com&amp;bcc=bccuser@example.com"
          class="heder-contact-info-link"
          title="Send an email"
          rel="noopener noreferrer"
          >lloydjefferson@gmail.com</a
        >
      </div>
    </div>
  </div>

  <div class="btn-container">
  <button class="main-button">Switch theme</button>
  <div class="color-buttons">
    <button
      class="color-button"
      data-color="#ed3b44"
      style="background-color: #ed3b44"
    ></button>
    <button
      class="color-button"
      data-color="#c6e327"
      style="background-color: #c6e327"
    ></button>
    <button
      class="color-button"
      data-color="#0041e8"
      style="background-color: #0041e8"
    ></button>
    <button
      class="color-button"
      data-color="#b662dd"
      style="background-color: #b662dd"
    ></button>
    <button
      class="color-button"
      data-color="#237f76"
      style="background-color: #237f76"
    ></button>
    <button
      class="color-button"
      data-color="#ff7f08"
      style="background-color: #ff7f08"
    ></button>
  </div>
</div>
</section>
