<section class="section" id="projects">
  <div class="container">
    <h2 class="section-title">Projects</h2>

    <div class="swiper">
      <ul class="projects-list swiper-wrapper">
        <li class="projects-item swiper-slide">
          <div class="item-flex-container">
            <div class="item-flex-container-top">
              <ul class="item-list">
                <li class="item-item">#react</li>
                <li class="item-item">#js</li>
                <li class="item-item">#node js</li>
                <li class="item-item">#git</li>
              </ul>

              <h3 class="item-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>

              <button class="item-button" type="button">See project</button>
            </div>
            <div>
              <img src="" alt="" />
            </div>
          </div>
        </li>
        <li class="projects-item swiper-slide visually-hidden">
          <div class="item-flex-container">
            <div>
              <ul class="item-list">
                <li class="item-item">#react</li>
                <li class="item-item">#js</li>
                <li class="item-item">#node js</li>
                <li class="item-item">#git</li>
              </ul>

              <h3 class="item-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>

              <button class="item-button" type="button">See project</button>
            </div>
            <div></div>
            <img src="" alt="" />
          </div>
        </li>
        <li class="projects-item swiper-slide visually-hidden">
          <div class="item-flex-container">
            <div>
              <ul class="item-list">
                <li class="item-item">#react</li>
                <li class="item-item">#js</li>
                <li class="item-item">#node js</li>
                <li class="item-item">#git</li>
              </ul>

              <h3 class="item-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>

              <button class="item-button" type="button">See project</button>
            </div>
            <div></div>
            <img src="" alt="" />
          </div>
        </li>
      </ul>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
