<section class="section projects" id="projects">
  <div class="container">
    <h2 class="section-title">Projects</h2>

    <div class="swiper">
      <ul class="projects-list swiper-wrapper">
        <li class="projects-item swiper-slide">
          <div class="item-flex-container">
            <div class="item-top-background">
              <div class="item-flex-container-top">
                <ul class="item-list">
                  <li class="item-item">#react</li>
                  <li class="item-item">#js</li>
                  <li class="item-item">#node js</li>
                  <li class="item-item">#git</li>
                </ul>
                <h3 class="item-title">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <a
                  class="item-button-link"
                  href="https://github.com/OlhaZhynkina/speed-js-team-project"
                  target="_blank"
                  >See project</a
                >
              </div>
            </div>
            <div class="item-flex-container-bottom">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/projects-img/image-tab-pc-readJourney.jpg    1x,
                    ./img/projects-img/image-tab-pc-readJourney-2@.jpg 2x
                  "
                />

                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./img/projects-img/image-mob-readJourney.jpg    1x,
                    ./img/projects-img/image-mob-readJourney-2@.jpg 2x
                  "
                />

                <img
                  class="item-img"
                  src="./img/projects-img/image-mob-readJourney.jpg"
                  alt="Read Journey"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="projects-item swiper-slide">
          <div class="item-flex-container">
            <div class="item-top-background">
              <div class="item-flex-container-top">
                <ul class="item-list">
                  <li class="item-item">#react</li>
                  <li class="item-item">#js</li>
                  <li class="item-item">#node js</li>
                  <li class="item-item">#git</li>
                </ul>
                <h3 class="item-title">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <a
                  class="item-button-link"
                  href="https://github.com/OlhaZhynkina/speed-js-team-project"
                  target="_blank"
                  >See project</a
                >
              </div>
            </div>
            <div class="item-flex-container-bottom">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/projects-img/image-tab-pc-petLove.jpg    1x,
                    ./img/projects-img/image-tab-pc-petLove-2@.jpg 2x
                  "
                />

                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./img/projects-img/image-mob-petLove.jpg    1x,
                    ./img/projects-img/image-mob-petLove-2@.jpg 2x
                  "
                />
                <img
                  class="item-img"
                  src="./img/projects-img/image-mob-petLove.jpg"
                  alt="Read Journey"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="projects-item swiper-slide">
          <div class="item-flex-container">
            <div class="item-top-background">
              <div class="item-flex-container-top">
                <ul class="item-list">
                  <li class="item-item">#react</li>
                  <li class="item-item">#js</li>
                  <li class="item-item">#node js</li>
                  <li class="item-item">#git</li>
                </ul>
                <h3 class="item-title">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <a
                  class="item-button-link"
                  href="https://github.com/OlhaZhynkina/speed-js-team-project"
                  target="_blank"
                  >See project</a
                >
              </div>
            </div>
            <div class="item-flex-container-bottom">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/projects-img/image-tab-pc-VocabBuilder.jpg    1x,
                    ./img/projects-img/image-tab-pc-VocabBuilder-2@.jpg 2x
                  "
                />

                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./img/projects-img/image-mob-VocabBuilder.jpg    1x,
                    ./img/projects-img/image-mob-VocabBuilder-2@.jpg 2x
                  "
                />
                <img
                  class="item-img"
                  src="./img/projects-img/image-mob-VocabBuilder.jpg"
                  alt="Read Journey"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>
      <div class="position-container">
        <button class="swiper-button-prev button">
          <svg class="swiper-button-svg flip-arrow" width="20" height="20">
            <use href="./img/icons.svg#arrow-narrow-right "></use>
          </svg>
        </button>
        <button class="swiper-button-next button">
          <svg class="swiper-button-svg" width="20" height="20">
            <use
              href="./img/icons.svg#arrow-narrow-right"
              style="stroke: #ffffff"
            ></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
