<section class="section" id="reviews">
  <div class="container">
    <h3 class="section-title">REVIEWS</h3>
    <div class="swiper">
      <ul class="swiper-wrapper list-reviews js-list-reviews"></ul>
      <div class="review-btn-container">
        <button class="swiper-button-prev review-flip-arrow review-btn">
          <svg class="review-btn-svg flip-arrow" width="20" height="20">
            <use href="./img/icons.svg#arrow-narrow-right "></use>
          </svg>
        </button>
        <button class="swiper-button-next review-btn">
          <svg class="review-btn-svg" width="20" height="20">
            <use href="./img/icons.svg#arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <!-- <div class="error-message">Not found</div> -->
  </div>
</section>
