<footer class="section" id="work">
  <div class="container">
    <div class="part-title">
      <img
        class="work-together-img"
        srcset="
          ../img/img-work-together/jefferson-1x-min.jpg 1x,
          ../img/img-work-together/jefferson-2x-min.jpg 2x
        "
        src="../img/img-work-together/jefferson-1x-min.jpg"
        alt="Jefferson"
        width="44"
        height="44"
      />
      <h2 class="section-title">
        LET'S <span class="title-highlight">WORK</span> TOGETHER
      </h2>
    </div>
    <div class="part-form">
      <form class="contact-form" id="contactForm">
        <input
          type="email"
          name="email"
          placeholder="clients@gmail.com"
          required
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          class="email-input"
        />
        <textarea name="comments" placeholder="comments" required></textarea>
        <button type="submit" class="wg-button">Send</button>
      </form>
    </div>
    <div class="part-contact-info">
      <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
      <a href="tel:+380111111111">+380 11 1111 11 11</a>
    </div>
  </div>
  <div id="modal" class="modal">
    <div class="modal-content">
      <p>
        Thank you for your interest in cooperation! The manager will contact you
        shortly to discuss further details and opportunities for cooperation.
        Please stay in touch.
      </p>
      <button id="closeModal" class="close-modal">Закрити</button>
    </div>
  </div>
</footer>
