<footer>
  <section class="section work-together" id="work">
    <div class="container">
      <div class="wt-title-container">
        <img
          class="work-img"
          src="./img/img-work-together/lloyd-jefferson-1x-min.png"
          srcset="
            ./img/img-work-together/lloyd-jefferson-1x-min.png 1x,
            ./img/img-work-together/lloyd-jefferson-2x-min.png 2x
          "
          alt="user-avatar"
        />

        <h2 class="wt-title">
          Let’s <span class="title-highlight color-text">work</span>
        </h2>
      </div>

      <h3 class="wt-title wt-text">together</h3>

      <form class="contact-form" id="contact-form">
        <div>
          <input
            class="wt-form-input"
            type="email"
            name="email"
            id="email"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            required
            placeholder="clients@gmail.com"
          />
          <span class="wt-message" id="email-success"></span>
        </div>

        <div class="contact-form-text">
          <input
            class="wt-form-input comments"
            type="text"
            placeholder="comments"
            required
          />
          <span class="wt-message-text" id="text-success"></span>
        </div>

        <button class="wt-btn s-color" type="submit" disabled>Send</button>
      </form>

      <div class="contact-info">
        <a class="wt-contact" href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
        <a class="wt-contact" href="tel:+380111111111">+380 11 1111 11 11</a>
      </div>
    </div>
  </section>
</footer>

<div class="wt-modal-overlay is-hidden">
  <div class="wt-modal-container is-hidden">
    <button class="wt-modal-close-btn">
      <svg class="wt-modal-close-svg">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <p class="wt-modal-title"></p>
    <p class="wt-modal-info"></p>
  </div>
</div>
